#foot{
    margin-top: 100px;
   background-color: #fefaf3;
   .upside{
    padding: 90px 0;
        ul{
        @include _main($display:flex , $just_content:center , $margin:0px , $padding:0px);
        list-style-type: none;
        flex-direction: column;
        li{
            list-style: none;
            line-height: 30px;
            a{
                @include _main($color:#8b8b8b , $f_size:12px ,);
                text-decoration: none;
                transition: .3s ease-in-out;
                &:hover{
                    color: rgb(255, 40, 40);
                }
            }
        }
    }
   }
   .downside{
    .downside_line{
        @include _main($f_size:13px , $padding:20px 0 , $color:#989898 );
        border-top:1px solid #d9d9d9 ;
        a{
            @include _main($color:#8b8b8b , $f_size:14px ,);
            text-decoration: none;
            transition: .3s ease-in-out;
            &:hover{
                color: rgb(255, 40, 40);
            }
        }
        #facebook{
            margin-right: 10px;
        }
        img{
            @include _main($object_f:contain , $cursor:pointer);
        }
    }
   }
}