@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
}

#nav1 {
  position: relative;
  z-index: 10;
}
#nav1 .img {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
}
#nav1 .img img {
  width: 100%;
  height: 25px;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}
#nav1 .rightside {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
#nav1 .rightside ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 35px;
  list-style-type: none;
}
#nav1 .rightside ul li {
  list-style: none;
  margin-right: 20px;
}
#nav1 .rightside ul li a {
  padding: 45px 3px;
  position: relative;
  font-size: 14px;
  color: #1b1b1b;
  text-decoration: none;
  display: block;
}
#nav1 .rightside ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 65px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
#nav1 .rightside ul li a:hover::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 65px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #search_click {
  position: relative;
  cursor: pointer;
}
#nav1 .rightside ul #search_click:hover {
  color: red;
}
#nav1 .rightside ul #search_click .search {
  transition: 0.3s all;
  overflow: hidden;
  display: none;
  width: 300px;
  height: 0px;
  position: absolute;
  top: 67px;
  left: -273px;
  display: flex;
}
#nav1 .rightside ul #search_click .search form {
  width: 292px;
  display: flex;
  align-items: center;
}
#nav1 .rightside ul #search_click .search form input {
  width: 120%;
  padding: 12px;
  border: 1px solid transparent;
  background-color: #fff;
  outline: none;
  font-size: 14px;
}
#nav1 .rightside ul #search_click .search form button {
  margin: 0 0 0 -5px;
  padding: 12px;
  border: 1px solid transparent;
  background-color: #fff;
  outline: none;
  font-size: 14px;
}
#nav1 .rightside ul #search_click .active {
  overflow: hidden;
  display: block;
  height: 60px;
}
#nav1 .rightside ul #home {
  position: relative;
}
#nav1 .rightside ul #home a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 64px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #home #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 448%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
#nav1 .rightside ul #home #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#nav1 .rightside ul #home #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1b1b1b;
  text-decoration: none;
  display: block;
}
#nav1 .rightside ul #home #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
#nav1 .rightside ul #home #home_hover ul li a:hover::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #home:hover #home_hover {
  height: 300px;
  background-color: white;
  overflow: hidden;
  opacity: 1;
}
#nav1 .rightside ul #pages {
  position: relative;
}
#nav1 .rightside ul #pages #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 448%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
#nav1 .rightside ul #pages #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#nav1 .rightside ul #pages #home_hover ul li {
  cursor: pointer;
}
#nav1 .rightside ul #pages #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1b1b1b;
  text-decoration: none;
  display: block;
}
#nav1 .rightside ul #pages #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
#nav1 .rightside ul #pages #home_hover ul li a:hover::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #pages:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 130px;
  background-color: white;
}
#nav1 .rightside ul #shop {
  position: relative;
}
#nav1 .rightside ul #shop #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 1255px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -673px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
#nav1 .rightside ul #shop #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#nav1 .rightside ul #shop #home_hover ul li {
  line-height: 25px;
  cursor: pointer;
}
#nav1 .rightside ul #shop #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1b1b1b;
  text-decoration: none;
  display: block;
}
#nav1 .rightside ul #shop #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
#nav1 .rightside ul #shop #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #shop:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 450px;
  background-color: white;
}
#nav1 .rightside ul #shop p {
  margin: 10px 0;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
#nav1 .rightside ul #portfolio {
  position: relative;
}
#nav1 .rightside ul #portfolio #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 258%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
#nav1 .rightside ul #portfolio #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#nav1 .rightside ul #portfolio #home_hover ul li {
  cursor: pointer;
}
#nav1 .rightside ul #portfolio #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1b1b1b;
  text-decoration: none;
  display: block;
}
#nav1 .rightside ul #portfolio #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
#nav1 .rightside ul #portfolio #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #portfolio #home_hover ul #port_lay {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav1 .rightside ul #portfolio #home_hover ul #port_lay .bi-chevron-right {
  font-size: 12px;
}
#nav1 .rightside ul #portfolio:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 230px;
  background-color: white;
}
#nav1 .rightside ul #blog {
  position: relative;
}
#nav1 .rightside ul #blog #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 420%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
#nav1 .rightside ul #blog #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#nav1 .rightside ul #blog #home_hover ul li {
  cursor: pointer;
}
#nav1 .rightside ul #blog #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1b1b1b;
  text-decoration: none;
  display: block;
}
#nav1 .rightside ul #blog #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
#nav1 .rightside ul #blog #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #blog #home_hover ul #port_lay {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav1 .rightside ul #blog #home_hover ul #port_lay .bi-chevron-right {
  font-size: 12px;
}
#nav1 .rightside ul #blog:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 130px;
  background-color: white;
}
#nav1 .rightside ul #elements {
  position: relative;
}
#nav1 .rightside ul #elements #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 258%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
#nav1 .rightside ul #elements #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#nav1 .rightside ul #elements #home_hover ul li {
  cursor: pointer;
}
#nav1 .rightside ul #elements #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1b1b1b;
  text-decoration: none;
  display: block;
}
#nav1 .rightside ul #elements #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
#nav1 .rightside ul #elements #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
#nav1 .rightside ul #elements #home_hover ul #port_lay {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav1 .rightside ul #elements #home_hover ul #port_lay .bi-chevron-left {
  font-size: 12px;
}
#nav1 .rightside ul #elements:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 178px;
  background-color: white;
}
#nav1 .rightside #cart_add {
  margin: 0px 0px 0px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 500;
}
#nav1 .rightside #cart_add p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

#wpb_wrapper {
  position: relative;
  background-color: #f3f3f3;
}
#wpb_wrapper .left_side {
  position: relative;
  z-index: 1;
}
#wpb_wrapper .left_side .header {
  width: 65%;
  color: black;
  text-align: inherit;
  font-size: 41px;
  gap: 15px;
}
#wpb_wrapper .left_side .header h3 {
  margin: 0px;
  text-align: inherit;
  font-size: 41px;
  display: inline;
  font-weight: 400;
}
#wpb_wrapper .left_side .header #flowers {
  color: red;
  text-align: inherit;
  font-size: 41px;
  font-weight: 400;
}
#wpb_wrapper .left_side #title {
  width: 80%;
  margin: 20px 0;
  color: #6d6a6a;
  line-height: 29px;
}
#wpb_wrapper #img_rightside {
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
#wpb_wrapper #img_rightside img {
  transition: 5s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1.55);
}

#filter_cart {
  margin-top: 90px;
}
#filter_cart ul {
  margin: 0px;
  padding: 0px;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
#filter_cart ul li {
  list-style: none;
  cursor: pointer;
}
#filter_cart ul .active {
  color: red;
}
#filter_cart .grid {
  overflow: visible;
  margin-top: 50px;
  width: 100%;
}
#filter_cart .grid .portfolio_list {
  position: relative;
  float: left;
  width: 300px;
  margin: 5px;
  padding: 10px;
  color: #262524;
}
#filter_cart .grid .portfolio_list img {
  transition: 0.1s ease-in-out;
  width: 90%;
  height: 90%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
#filter_cart .grid .portfolio_list img:hover {
  transform: scale(1.037);
}

#wpb-content-wrapper {
  margin: 90px 0;
  padding: 110px 0;
  background-color: #f7f7f7;
}
#wpb-content-wrapper .modal-dialog {
  margin: 134px auto;
}
#wpb-content-wrapper .modal-body {
  height: 300px;
  width: 500px;
  padding: 0px;
}
#wpb-content-wrapper .left_side .img {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#wpb-content-wrapper .left_side .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s ease-in-out;
}
#wpb-content-wrapper .left_side .img .play-click {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 30%;
  left: 37%;
  cursor: pointer;
  border-radius: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wpb-content-wrapper .left_side .img .play-click .bi {
  font-size: 35px;
}
#wpb-content-wrapper .left_side .img #iframe_link {
  position: absolute;
  top: 30%;
  left: 37%;
  cursor: pointer;
}
#wpb-content-wrapper .left_side .img:hover img {
  transform: scale(1.04);
}
#wpb-content-wrapper .right_side {
  padding: 17px 0;
  margin-left: 57px;
}
#wpb-content-wrapper .right_side .header {
  font-style: italic;
  width: 60%;
  color: black;
  text-align: inherit;
  font-size: 41px;
  gap: 15px;
}
#wpb-content-wrapper .right_side .header h3 {
  margin: 0px;
  text-align: inherit;
  font-size: 28px;
  display: inline;
  font-weight: 400;
}
#wpb-content-wrapper .right_side .header #flowers {
  color: red;
  text-align: inherit;
  font-size: 28px;
  font-weight: 400;
}
#wpb-content-wrapper .right_side #text_p {
  color: #acacac;
  margin: 28px 0;
}
#wpb-content-wrapper .right_side ul {
  margin: 0px;
  padding: 0px;
  color: #acacac;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#wpb-content-wrapper .right_side ul li {
  display: flex;
  gap: 10px;
  flex-direction: row;
  list-style: none;
}
#wpb-content-wrapper .right_side ul li img {
  -o-object-fit: contain;
     object-fit: contain;
}

#wpb-cart-wrapper {
  margin: 100px 0;
  font-family: "Playfair Display", serif;
}
#wpb-cart-wrapper h3 {
  font-size: 35px;
}
#wpb-cart-wrapper #text_p {
  width: 46%;
  margin: 20px auto 35px auto;
  font-size: 16px;
  color: #979797;
}
#wpb-cart-wrapper .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  flex-direction: column;
}
#wpb-cart-wrapper .cart .img {
  width: 222px;
  height: 222px;
  margin: 0 0 22px 0;
}
#wpb-cart-wrapper .cart .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wpb-cart-wrapper .cart span {
  font-size: 14px;
}
#wpb-cart-wrapper .cart p {
  font-size: 13px;
  margin: 10px 0;
  color: #979797;
}

#wpb-search {
  margin-top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
  padding: 185px 0;
  background-attachment: fixed;
}
#wpb-search .middle h3 {
  font-size: 30px;
  color: white;
}
#wpb-search .middle form {
  margin-top: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wpb-search .middle form input {
  outline: none;
  border: 1px solid transparent;
  background-color: white;
  font-size: 14px;
  padding: 22px;
  width: 37%;
}
#wpb-search .middle form button {
  font-size: 14px;
  width: 13%;
  padding: 22px;
  outline: none;
  border: 1px solid transparent;
  color: white;
  background-color: #ff3d2a;
}

#wpb_wrapper_blog {
  padding: 100px 0;
  background-color: #f7f7f7;
  font-family: "Playfair Display", serif;
}
#wpb_wrapper_blog .header h3 {
  font-size: 35px;
}
#wpb_wrapper_blog .header #text_p {
  width: 46%;
  margin: 25px auto 55px auto;
  font-size: 16px;
  color: #979797;
}
#wpb_wrapper_blog .cart_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#wpb_wrapper_blog .cart_blog .img {
  width: 100%;
  height: 268px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transform: scale(1);
}
#wpb_wrapper_blog .cart_blog .img img {
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 268px;
  -o-object-fit: contain;
     object-fit: contain;
}
#wpb_wrapper_blog .cart_blog .img .time_box {
  transition: 0.3s ease-in-out;
  padding: 9px 19px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  cursor: pointer;
  background-color: #fff;
  font-size: 11px;
}
#wpb_wrapper_blog .cart_blog .img .time_box:hover {
  color: #ff3d2a;
}
#wpb_wrapper_blog .cart_blog .img:hover img {
  transform: scale(1.04);
}
#wpb_wrapper_blog .cart_blog h3 {
  font-size: 23px;
  margin: 32px 0 15px 0;
  font-weight: 300;
}
#wpb_wrapper_blog .cart_blog p {
  font-size: 14px;
  color: #979797;
  text-align: center;
}

#wpb_wrapper_swiper {
  margin-top: 130px;
}
#wpb_wrapper_swiper .swiper-button-prev {
  left: 220px !important;
}
#wpb_wrapper_swiper .swiper-button-prev .bi {
  font-size: 36px;
  color: #bcbcbc;
}
#wpb_wrapper_swiper .swiper-button-prev::after {
  content: "";
}
#wpb_wrapper_swiper .swiper-button-next {
  right: 220px;
}
#wpb_wrapper_swiper .swiper-button-next .bi {
  font-size: 36px;
  color: #bcbcbc;
}
#wpb_wrapper_swiper .swiper-button-next::after {
  content: "";
}
#wpb_wrapper_swiper .cart_swiper {
  max-width: 600px;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wpb_wrapper_swiper .cart_swiper img {
  width: 87px;
  height: 87px;
  -o-object-fit: contain;
     object-fit: contain;
}
#wpb_wrapper_swiper .cart_swiper p {
  font-size: 21px;
  font-style: italic;
  color: #4b4747;
  margin: 15px 0 30px 0;
}
#wpb_wrapper_swiper .cart_swiper span {
  font-size: 15px;
  margin: 5px 0 10px 0;
}
#wpb_wrapper_swiper .cart_swiper #florist {
  font-size: 24px;
  font-style: italic;
  color: #4b4747;
  margin: 15px 0 30px 0;
}

#foot {
  margin-top: 100px;
  background-color: #fefaf3;
}
#foot .upside {
  padding: 90px 0;
}
#foot .upside ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-direction: column;
}
#foot .upside ul li {
  list-style: none;
  line-height: 30px;
}
#foot .upside ul li a {
  font-size: 12px;
  color: #8b8b8b;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
#foot .upside ul li a:hover {
  color: rgb(255, 40, 40);
}
#foot .downside .downside_line {
  padding: 20px 0;
  font-size: 13px;
  color: #989898;
  border-top: 1px solid #d9d9d9;
}
#foot .downside .downside_line a {
  font-size: 14px;
  color: #8b8b8b;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
#foot .downside .downside_line a:hover {
  color: rgb(255, 40, 40);
}
#foot .downside .downside_line #facebook {
  margin-right: 10px;
}
#foot .downside .downside_line img {
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */